<div class="container">
  <article class="page-content">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <header>
          <h1>Cohorts</h1>
        </header>
        <% if notice %>
          <div data-alert class="alert alert-success alert-dismissable" role="alert">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        <% end %>
        <div class="row">
          <section class="col-lg-6">
            <h2 class="hide">All cohorts</h2>
            <% if @cohorts.empty? %>
              <div class="alert alert-info">
                There are currently no cohorts in the system.
              </div>
            <% else %>
              <% @cohorts.each do |cohort| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <%= cohort.name %>
                    <%= link_to 'delete', cohort, method: :delete, class: 'text-danger pull-right', data: {confirm: "Are you sure you want to delete #{cohort_name(cohort)}?"} %>
                  </div>
                  <div class="panel-body">
                    <dl class="dl-horizontal">
                      <dt>Compass install</dt>
                      <dd><%= cohort.compass_install %></dd>
                      <dt>Compass primary key</dt>
                      <dd><%= cohort.compass_primary_key %></dd>
                    </dl>
                  </div>
                </div>
              <% end %>
            <% end %>
          </section>
          <aside class="col-lg-6">
            <%= form_for @cohort, html: {class: 'form-horizontal'} do |f| %>
              <div class="panel panel-default">
                <div class="panel-heading">Add a cohort</div>
                <div class="panel-body">
                  <% if @cohort.errors.any? %>
                    <div class="alert alert-warning">
                      <p><%= pluralize(@cohort.errors.count, 'error') %> prohibited this user from being saved:</p>
                      <ul>
                        <% @cohort.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-group">
                    <%= f.label :name, class: 'control-label col-sm-6' %>
                    <div class="col-sm-6">
                      <%= f.text_field :name, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :compass_install, class: 'control-label col-sm-6' %>
                    <div class="col-sm-6">
                      <%= f.text_field :compass_install, class: 'form-control' %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :compass_primary_key, class: 'control-label col-sm-6' %>
                    <div class="col-sm-6">
                      <%= f.text_field :compass_primary_key, class: 'form-control' %>
                    </div>
                  </div>
                </div>
                <div class="panel-footer clearfix">
                  <%= f.submit class: 'btn btn-primary pull-right' %>
                </div>
              </div>
            <% end %>
          </aside>
        </div>
      </div>
    </div>
  </article>
</div>
