<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= content_for?(:title) ? yield(:title) : 'Compass Quiz' %></title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><i class="fa fa-compass"></i> Compass Quiz</a>
    </div>
  </div>
</nav>
<main>
  <%= yield -%>
</main>
<footer>
  <div class="container">
    <p class="text-center">&copy; Lighthouse Labs</p>
  </div>
</footer>
</body>
</html>
